<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
    xmins:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>

            <a th:href="@{/produto}"><b>Voltar</b></a>
            <h1></h1>
            <h1 style="font-size:150%;">Cadastro de produto</h1>

            <form th:action="@{/produto/(form)}" th:object="${produto}" method="POST">

                <input type="hidden" th:field="*{id}">

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="txtnome">Descrição:</label>
                            <input type="text" th:field="*{descricao}" id="txtdescricao" class="form-control">
                        </div>
                    </div> <!-- o asterisco diz q a descição, preço e data é da variável produto -> ${produto}-->
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtpreco">Preço:</label>
                            <input type="text" th:field="*{preco}" id="txtpreco" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtdata">Data registro:</label>
                            <input type="text" th:field="*{dataRegistro}" id="txtdata" class="form-control">
                        </div>
                    </div>
                </div>
                
                <button class="btn btn-primary" type="submit">Enviar</button>

            </form>


        </div>

        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>

