<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
    xmins:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1 th:text="${nomeapp}">Minha Aplicação!</h1>
            <h3 th:text="${tempo}">  </h3>

            <button class="btn btn-primary">Botão!</button>
            <a href="http://univille.edu.br" class="btn btn-primary">Botão que vai pra Univille</a>

        </div>

        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>

